name: Docker Build and Publish

# Déclenche le workflow lors d'un push sur la branche 'main'
on:
  push:
    branches:
      - main

# Permet d'éviter que le même workflow ne s'exécute plusieurs fois en parallèle
# pour la même branche ou PR
concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.ref }}

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write # Nécessaire pour publier sur GitHub Packages

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: |
            # Le tag 'latest' sur la branche principale
            ${{ lower(github.repository_owner) }}/${{ github.event.repository.name }}:latest
            # Un tag spécifique basé sur le SHA de commit
            ${{ lower(github.repository_owner) }}/${{ github.event.repository.name }}:${{ github.sha }}
            # Publication sur GitHub Container Registry (ghcr.io)
            ghcr.io/${{ lower(github.repository_owner) }}/${{ github.event.repository.name }}:latest
            ghcr.io/${{ lower(github.repository_owner) }}/${{ github.event.repository.name }}:${{ github.sha }}
